.container {
  /* height:240px; */
  /* top:0px;
  border-bottom : solid 2px grey; */
}

.title {
  font-size:35x;
  text-align: center;
  margin:25px;
}

.hand {
  display:flex;
  justify-content: center;
}

.event {
  cursor: pointer;
  transition:transform 0.15s;
}

.event:hover {
  transform: scale(1.15);
}