.card {
    height:120px;
    width:200px;
    border-radius:15px;
    border: solid 2px black;
    background-color: rgb(100,100,100);
    padding: 10px;
    margin: 5px;
    color:white;
    text-align: center;
}

.name {
    font-weight: 100;
    font-size: 20px;
}

.selection {
    opacity:0.5;
    cursor:pointer;
}

.year {
    transition : opacity 1.5s;
}

.revealing {
    opacity:0;
}